<p class="report-copyrights text-align-center" style="background: white"><%= t('views.payments.this_payment_was_received_using') %> <%= link_to image_tag("m-bottom-logo.jpg", class: 'responsive-img'), 'https://invoices.p2enjoy.studio' %></p>
